@font-face { /*Fonte do título do site */
    font-family: "Litebulb";
    src: url("fonts/Litebulb.woff") format("woff");
    src: url("fonts/Litebulb.woff2") format("woff2");
}

@keyframes cortexto { /*animação do título do site */
    0%, 100% {
        color: #000000;
    }
    50% {
        color: #ffea98;
    }
}

.cabecalho {
    margin-bottom:25px;
    margin-top:25px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.titulosite {
    text-align: center;
    font-family: "Litebulb";
    font-size: 150px;
    animation: cortexto 8s ease-in-out infinite;
}

.subtitulosite {
    text-align: center;
    font-family: "Litebulb";
    color: #000000;
    font-size: 62px;
}

.barrapesquisa {
    justify-content: center;
    height: 50px;
    border-radius: 25px;
    background: #ffea98;
    box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
}

.botaohomepage { /*os botoes q ficam la em cima no site */
    font-family: "Litebulb";
    font-size: 48px;
    border: none;
    background-color: #ffea98;
    border-radius: 30px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0 15px 0 45px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.icones-botao { /* os icones q ficam dentro dos botoes */
    width: 32px;
    height: auto;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

/* globo q fica quicando */
.globo {
    position: fixed;
    width: 60px;
    height: 60px;
    pointer-events: none;
    z-index: -1;
    transition: filter 0.3s;
}

.temlink a { /* isso aqui é pra tipo um texto que tem link tlg dai ele fica sem aquele coiso azul embaixo */
    text-decoration: none;
}
